*
!/.gitignore
!/.htaccess
!/about.php
!/client-support.php
!/contact.php
!/digital-signature.php
!/e-task.php
!/ekanakan.php
!/index.php
!/privacy-policy.php
!/services.php
!/tools.php
!/disclaimer.php
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/style.css
!/assets/img/
/assets/img/*
!/assets/img/ekanakan.png
!/assets/img/logo.png
!/assets/js/
/assets/js/*
!/assets/js/main.js
!/includes/
/includes/*
!/includes/footer.php
!/includes/header.php
