*
!/.gitignore
!/.htaccess
!/about.php
!/client-support.php
!/contact.php
!/digital-signature.php
!/e-task.php
!/ekanakan.php
!/index.php
!/privacy-policy.php
!/services.php
!/tools.php
!/disclaimer.php
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/style.css
!/assets/img/
/assets/img/*
!/assets/img/ekanakan.png
!/assets/img/logo.png
!/assets/js/
/assets/js/*
!/assets/js/main.js
!/includes/
/includes/*
!/includes/footer.php
!/includes/header.php
!/includes/testimonials.php
!/testimonial/
/testimonial/*
!/testimonial/.htaccess
!/testimonial/config.php
!/testimonial/install.sql
!/testimonial/index.php
!/testimonial/submit.php
!/testimonial/admin/
/testimonial/admin/*
!/testimonial/admin/_auth.php
!/testimonial/admin/dashboard.php
!/testimonial/admin/edit.php
!/testimonial/admin/login.php
!/testimonial/admin/logout.php
!/support/
/support/*
!/support/config.php
!/support/install.sql
!/support/_layout_header.php
!/support/_layout_footer.php
